<div class="jankx-logo image {{ class }}">
    <{{ wrap_tag }} class="logo-text-wrap">
        {% if (url) %}
            <a href="{{ url }}" style="background-image: url({{ image_url }}){{ logo_size_styles }}">
                {{ text }}
            </a>
        {% else %}
            <span>{{ text }}</span>
            <img src="{{ image_url }}" alt="{{ text }}">
        {% endif %}
    </{{ wrap_tag }}>
</div>
