<div class="{{ 'loop-item post-large-image' | post_class }}">
    {% do action('jankx_post_layout_before_loop_item', post) %}
    <div class="post-thumbnail">
        <a href="{{ post.link }}" title="{{ post.title }}">
            <img src="{{ post.thumbnail.src }}" alt="{{ post.title }}" />
        </a>
    </div>
    <div class="post-infos">
        <{{post_title_tag}} class="post-title">
            <a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>
        </{{post_title_tag}}>

        <div class="description">{{ post.excerpt | raw }}</div>
    </div>
    {% do action('jankx_post_layout_after_loop_item', post) %}
</div>
