<div class="{{ 'loop-item' | post_class }}">
    {% do action('jankx_post_layout_before_loop_item', post) %}

    {% if show_thumbnail %}
        <div class="post-thumbnail">
            {% do action('jankx_post_layout_before_loop_post_thumbnail', post) %}
            <a href="{{ post.permalink }}" title="{{ post.title }}">
                <img src="{{ post.thumbnail.src }}" alt="{{ post.title }}" />
            </a>
            {% do action('jankx_post_layout_after_loop_post_thumbnail', post) %}
        </div>
    {% endif %}

    <div class="post-infos">
        {% if show_title %}
        <h2 class="post-title">
            <a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        {% endif %}

        {% if show_excerpt %}
            <div class="post-exceprt">{{ post.exceprt }}</div>
        {% endif %}

        {% if (post_meta_features is not empty) %}
            <ul class="post-metas">
            {% for feature, value in post_meta_features %}
                <li class="{{ feature }}">
                {% do action(['jankx_post_layout_meta_before_', feature] | join) %}
                    {{ _post_layout.get_meta_value(value, feature) }}
                {% do action(['jankx_post_layout_meta_after_', feature] | join) %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% do action('jankx_post_layout_after_loop_item', post) %}
</div>
